@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

#content{
    margin: 0 auto;
}

nav{
    display:flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    color: #6b0f1f;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #6b0f1f;
    color: #e08567;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-img{
    height: 533px;
    width: 1000px;
    grid-column: 2/3;
    justify-content: center;
    padding-top: 20px;
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1{
    text-align: center;
    font-family: "Rock Salt", "Bradley Hand", sans-serif;
}

#hero-msg h4{
    color: white;
    text-align: center;
    font-family: "Rock Salt", "Bradley Hand", sans-serif;
}

.button-box{
    text-align: center;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 200px 1fr;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

body{
    background-color: #fcfbfb;
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(224, 133, 103, 90%);
    display: grid;
    grid-template-columns: 150px auto;
}

.p1{
    margin-top: 30px;
    grid-column: 1/3;
    font-family: Roboto, Helvetica, sans-serif;
    color: #6b0f1f;
    margin-left: 45px;
}

.p2{
    margin-top: 30px;
    grid-column: 4/6;
    font-family: Roboto, Helvetica, sans-serif;
    color: #6b0f1f;
    margin-right: 45px;
}

.p3{
    background-color: #6b0f1f;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    font-family: Roboto, Helvetica, sans-serif;
    color: #e08567;
    grid-row: 3/4;
    grid-column: 3/5;
}

.guitar-img{
    grid-column: 2/5;
}


.home-title{
    color: #e08567;
    font-family: "Rock Salt", "Bradley Hand", sans-serif;
    font-size: 2em;
    margin-top: 10px;
    margin-top: 60px;
}

.sign-up{
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    color: #6b0f1f;
}

.sign-up:hover{
    color: #e08567;
    background-color: #6b0f1f;
}

footer{
    color: #6b0f1f;
    padding: 25px 50px;
    margin-top: 200px;
    background-color: rgb(224, 133, 103, 90%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img{
    padding-top: 15px;
}

footer a{
    color: #6b0f1f;
}

footer a:hover{
    color: #e08567;
    background-color: #6b0f1f;
}

.logo{
    width: 100px
}

#logo_link{
    padding-top: 5px;
    justify-content: center;
    align-self: center;
}

footer a{
    text-align: center;
    color: #6b0f1f;
    text-decoration: none;
}   

footer p {
    font-size: 1.2em;
    font-family: Roboto, Helvetica, sans-serif;
}    

footer p a:hover {
    text-decoration: underline;
}